dataset/external_dataset/chexpert
dataset/external_dataset/chest14
dataset/external_dataset/padchest
dataset/external_dataset/pneumothorax
dataset/external_dataset/vinbigdata
dataset/external_dataset/rsna-pneumonia-detection-challenge
dataset/pseudo_csv_det/
dataset/lung_crop/images
dataset/siim-covid19-detection/images
dataset/siim-covid19-detection/train
dataset/siim-covid19-detection/test
dataset/siim-covid19-detection/sample_submission.csv
dataset/siim-covid19-detection/train_image_level.csv
dataset/siim-covid19-detection/train_study_level.csv
dataset/siim-covid19-detection/folds/
dataset/siim-covid19-detection/labels/
src/classification_aux/checkpoints*
src/classification_aux/*pretrain*
src/detection_efffdet/checkpoints*
src/detection_fasterrcnn/checkpoints*
src/detection_fasterrcnn/*pretrain*
src/detection_lung_yolov5/runs*
src/detection_yolov5/runs*